In [ ]:
import os
import pickle
import numpy as np
import pandas as pd

# from sklearn import neural_network
# from sklearn.preprocessing import OneHotEncoder

In [117]:
training_data = pd.read_csv('datasets/mnist/mnist_train.csv', header=None)
test_data = pd.read_csv('datasets/mnist/mnist_test.csv',header=None)

In [118]:
y_train = training_data[784]
print(y_train.shape)

(60000,)

In [119]:
x_train = training_data.drop(784,axis=1)
x_train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [120]:
x_train[260]

0        80
1         0
2         0
3         0
4         0
         ..
59995     0
59996     0
59997     0
59998     0
59999     0
Name: 260, Length: 60000, dtype: int64

In [123]:
print(x_train.loc[0,260])

80

In [124]:
x_train.insert(0,0,np.ones((60000,1)),allow_duplicates = True)
x_train = x_train.T.reset_index(drop=True).T
x_train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
print(x_train.loc[0,261])
x_train.shape, y_train.shape

80.0

((60000, 785), (60000,))